{% extends "jove/base.html" %}

{% block title %}{{ title|default:"首页"}} - {% endblock %}

{% block content %}
<div class="blog-index">
	{% for post in posts.object_list %}
	<div id="post" class="post type-post status-publish format-standard hentry ">
		<h2 class="entry-title"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>

		<div class="entry-meta">
			<span class="entry-date">{{ post.create_time|date:"Y-m-d" }}</span><span class="author vcard">{{ post.author }}</span><span class="cat-links"><a href="http://jovesky.com/" title="" rel="category tag">{{ post.category }}</a></span>
		</div><!-- .entry-meta -->

		<div class="entry-content">

			{{ post.content|safe }}
		<a rel="full-article"  href="{{ post.get_absolute_url }}/#more" class="more-link">阅读全文 <span class="meta-nav">→</span></a>
		</div><!-- .entry-content -->

		<div class="entry-utility">
			<span class="comments-link"></span>
		</div><!-- .entry-utility -->
	</div>

	{% endfor %}
</div>

<div id="nav-below" class="navigation">

	{% if posts.has_next %}
	<div class="nav-previous">
		<a href="?page={{ posts.next_page_number }}" rel="prev"><span class="meta-nav">←</span>上一页</a>
	</div>
	{% endif %}

	{% if posts.has_previous %}
	<div class="nav-next">
		<a href="?page={{ posts.previous_page_number }}" rel="next">下一页 <span class="meta-nav">→</span></a>
	</div>
	{% endif %}

</div>

{% endblock %}

