{% extends "jove/base.html" %}

{% block title %}{{ title|default:"首页"}} - {% endblock %}

{% block content %}
<div class="blog-index">
	{% for post in posts.object_list %}
	<div class="post type-post status-publish format-standard hentry ">
		<h2 class="entry-title"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>

		<div class="entry-meta">
			<span class="entry-date">{{ post.create_time|date:"Y-m-d" }}</span><span class="author vcard">{{ post.author }}</span><span class="cat-links"><a href="{{ post.category.get_absolute_url }}" title="{{ post.category }}" rel="category tag">{{ post.category }}</a></span>
		</div><!-- .entry-meta -->

		<div class="entry-content">

			{{ post.content|safe |truncatewords_html:25 }}
		<a rel="full-article"  href="{{ post.get_absolute_url }}" class="more-link">阅读全文 <span class="meta-nav">→</span></a>
		</div><!-- .entry-content -->

		<div class="entry-utility">
			<span class="comments-link"></span>
		</div><!-- .entry-utility -->
	</div>

	{% endfor %}
</div>

{% if posts.paginator.num_pages > 1 %}
    {% include "jove/paginator.html" %}
{% endif %}

{% endblock %}

