{% extends "jove/base.html" %}
{% load duoshuo_tags %}

{% block title %}{{ page.title }} - {% endblock %}

{% block content %}
<div>
		{% if page.title %}
		<div id="post" class="post post type-post status-publish format-standard hentry ">
			<h2 class="entry-title"><a href="{{ page.get_absolute_url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h2>

			<div class="entry-meta">
				<span class="entry-date">{{ page.create_time|date:"Y-m-d" }}</span><span class="author vcard">{{ page.author }}</span><span class="cat-links"><a href="http://jovesky.com/" title="" rel="category tag">{{ page.category }}</a></span>
			</div><!-- .entry-meta -->
			{% endif %}
			{% block main %}
			<div class="entry-content">

				{{ page.content|safe }}
			</div><!-- .entry-content -->{% endblock %}
			{% if footer %}

			{% endif %}
		</div>
	{% if comments %}

	<a name="comments">{% duoshuo_comments %}</a>

	{% endif %}
</div>
{% endblock %}

