<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="zh-CN">
  
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>
      {% block title %}{% endblock %}{{ settings.SITE_TITLE }}
    </title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/pygments/murphy.css"/>
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.3.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="/static/js/all.js">
    </script>
    <link rel="alternate" type="application/rss+xml" title="{{ settings.SITE_TITLE }} &raquo; Feed"
    href="/feed/" />
  </head>
  
  <body class="home blog">
    <div id="wrapper" class="hfeed">
      <div id="header">
        <div id="masthead">
          <div id="branding">
            <h1 id="site-title">
              <span>
                <a href="/" title="{{ settings.SITE_TITLE }}" rel="home">
                  {{ settings.SITE_TITLE }}
                </a>
              </span>
            </h1>
          </div>
          <!-- #branding -->
          <div id="access">
            <div class="skip-link screen-reader-text">
              <a href="#content" title="跳转到内容">
                跳转到内容
              </a>
            </div>
            <div class="menu">
              <ul>
                <li>
                  <a href="http://jovesky.com/" title="首页">
                    <span>
                      首页
                    </span>
                  </a>
                </li>
                <li>
                  <a href="/archives/">
                    <span>
                      文章归档
                    </span>
                  </a>
                </li>
                {% for i in pages%}
                <li class="current_page_item">
                  <a href="{{ i.get_absolute_url }}" <span>
                    {{ i.title }}
                    </span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div id="rss">
              <a href="/feed/" title="JoveSky Posts RSS feed" rel="alternate" type="application/rss+xml">
                <span>
                  RSS
                </span>
              </a>
            </div>
          </div>
          <!-- #access -->
        </div>
        <!-- #masthead -->
      </div>
      <!-- #header -->
      <div id="main">
        <div id="container">
          <div id="content" role="main">
            {% block content %}{% endblock %}
          </div>
          <!-- #content -->
        </div>
        <!-- #container -->
        <div id="primary" class="widget-area" role="complementary">
          <ul class="xoxo">
            <li id="search-2" class="widget-container widget_search">
              <form role="search" method="get" id="searchform" action="http://www.google.com/search">
                <div>
                  <label class="screen-reader-text" for="s">
                    搜索：
                  </label>
                  <input type="hidden" name="q" value="site:{{ settings.SITE_URL }}">
                  <input type="text" value="" name="q" id="s" />
                  <input type="submit" id="searchsubmit" value="搜索" />
                </div>
              </form>
            </li>
            {% block sidebar %}{% include "sidebar.html" %}{% endblock %}
          </ul>
        </div>
        <!-- #primary .widget-area -->
      </div>
      <!-- #main -->
      <div id="footer" role="contentinfo">
        <div id="colophon">
          <div id="site-info">
            Copyright &copy; 2010 - 2012
            Powered by <a href="https://github.com/JoveYu/JoveSky">JoveSky</a>
            .
            Theme by <a href="http://www.alanoy.com/">G-White</a>
          </div>
          <!-- #site-info -->
          <div id="site-generator">
            <a href="#header" rel="nofollow" title="Go to the header">
              返回顶部
            </a>
          </div>
          <!-- #site-generator -->
        </div>
        <!-- #colophon -->
      </div>
      <!-- #footer -->
    </div>
    <!-- #wrapper -->

  </body>

</html>
